/* WATS 3020 Mad Libs Assignment */

body {
    padding: 1rem;
    font-family: 'Raleway', sans-serif;
  	background: #2A3B54;
    color: white; 
  	margin: 100px;

}

h1 { 
	font-style: italic;
  color: yellow;
	}